<div>
  <h3>Welcome, {{user_id}}!</h3>
  <div>
    {{#each blogposts as |blogpost|}}
      <div class="row mb-4 project card">
        <div class="col-md-5">
          <h2 class="card header">
            <a href="/blog/{{blogpost.id}}">{{blogpost.title}}</a>
          </h2>
          <p class="card-author">Posted by
            {{blogpost.user.username}}
            on
            {{format_date blogpost.date_created}}</p>
        </div>
        <div class="col-md-7">
          <p class="card-content">
            {{blogpost.content}}
          </p>
        </div>
      </div>

    {{/each}}
  </div>
</div>